@import "http://fonts.googleapis.com/css?family=Lato:400,700.css";
@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";
$break-small: 480px;
$break-medium:768px;
$flappy-dark-grey:#2B2D33;
$flappy-blue:#00CCCC;

body{
  background-color:$flappy-dark-grey;
}
.abdominals{
  padding-top:40px;
  background-color:white;
  @media screen and (max-width:$break-medium){
    padding-top:0px;
  }
}
header{
  background-image:url("/images/border.png");
  background-repeat:repeat-x;
  display:block;
  position:relative;
  background-color:$flappy-dark-grey;
  padding-bottom:20px;

  ul{
    display:inline;
    li{
      display:inline;
    }
  }
  h1{
    font-family: 'Lato', sans-serif;
    font-weight:700;
    margin-top:30px;
    letter-spacing:6px;
    word-spacing:70px;
    display:block;
    color:$flappy-blue;
      @media screen and (max-width:$break-medium){
        margin-left
        :160px;
        font-size:20px;
        height:100px;
        @media screen and (max-width:$break-small){
        display:inline-block;
        word-spacing:1px;
      }
      
      }
    .linebreak{
      @media screen and (max-width:$break-medium){
        display:block;
        color:white;
      }
      @media screen and (max-width:$break-small){
        display:inline;
      }
    }
  }
  // END H1
  .birdnturtlesimg{
    margin-top:-75px;
    margin-left:180px;
    position:absolute;
    background-image:url("/images/logo.png");
    height:90px;
    width:110px;
    background-repeat:no-repeat;
    @media screen and (max-width:$break-medium){
      margin-left:30px;
      margin-top:-110px;
    }
    @media #{$small-only} {
      
    }
  }
  .sub-nav{
    font-family: 'Lato', sans-serif;
    font-weight:800;
    padding-right:0px;
    padding-left:0px;
    color:$flappy-blue;
    margin-top:40px;
    @media screen and (max-width:$break-medium){
      padding-right:25px;
    }

    nav ul{
      margin-left:0px;
      li.nav_item{
        border-bottom:5px solid $flappy-blue;
        margin-left:0px;
        letter-spacing:0.8px;
        word-spacing:15px;
        @media screen and (max-width:$break-medium){
          border-bottom:0px;
        }
        @media screen and (max-width:$break-small){
          display:none;
        }
          &:hover{
          border-color:white;
          a{
            color:white;
          }
        }
        a{
          padding-right:0px;
          padding-left:0px;
        }
      }
    }
    .one{
      padding-right:15px;
    }
    .two{
      padding-right:15px;
    }
    .tree{
      padding-right:15px;
    }
    .four{
      padding-right:15px;
    }
    a{
      color:$flappy-blue;
    }
    a:hover{
      color:$flappy-blue;
    }
  }
  .sub-nav:hover{
    color:white;
  }
}
// END HEADER

.cheese{
  @media screen and (max-width:$break-medium){
    padding-left:0px;
    padding-right:0px;
  }
}
.main_image{
  background-image:url('/images/scenery.png');
  background-size:cover;
  height:260px;
  width:auto;
  border:solid 3px black;
  @media screen and (max-width:$break-medium){
    border:none;
  }
  @media #(small-only){
    position:center;
  }
}
ul.features{
  font-family: 'Lato', sans-serif;
  font-weight:700;
  margin-left:15px;
  width:200px;
  text-align:center;
  @media screen and (max-width:$break-medium){
    margin-left:0px;
  }
}
.blackfeature{
  width:220px;
  background-color:black;
  @media screen and (max-width:$break-medium){
    width:737px;
  }
}
.right_oblique{

  @media screen and (max-width:$break-medium){
    padding-left:0px;
    padding-right:0px;
  }
}
.feature_list_item{
  width:220px;
  font-size:13px;
  padding-top:15px;
  text-align:center;
  height:58px;
  border-bottom:0.9px solid gray;
  color:black;
  background-color:$flappy-blue;
  @media screen and (max-width:$break-medium){
    width:737px;
    border-bottom:1px solid gray;
    border-opacity:0.6;
  }
}
.content_text{
  p{
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:22px;
    @media screen and (max-width:$break-medium){
      margin-top:20px;
      margin-left:30px;
      margin-bottom:20px;
    }
  }
}
// Header End
footer{
  font-family: 'Lato', sans-serif;
  font-weight:700;
  background-image:url("/images/border.png");
  background-repeat:repeat-x;
  background-color:$flappy-dark-grey;
  .feet{
    & li:hover{
      a{
        color:white;
      }
    }
    padding-left:30px;
    border-left:3px solid $flappy-blue;
    margin-top:30px;
    @media screen and (max-width:$break-medium){
      border-left:0px;
    }
  }

}
ul{
  color:$flappy-blue;
  list-style-type:none;
  li{
  color:$flappy-blue;
    list-style-type: none;
  }
}

// ulz end
.white{
  color:white;
}
a:visited{
  color:$flappy-blue;
}
.text{
  color:$flappy-blue;
}
div.flappyCopyRight.row{
  @media screen and (max-width:$break-medium){
  margin:0px;
  }
}
.copyright{
  font-family: 'Lato', sans-serif;
  font-weight:700;
  text-align:center;
  background-color:$flappy-blue;
  @media screen and (max-width:$break-medium){
    background-color:$flappy-dark-grey;
    color:white;

  }
}
